.card{
  border: 1px solid rgb(211, 211, 211);
  border-radius: 0.6rem;
  box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.2); 

  max-width: 15rem;
  text-align: center;
  display: inline-block;

  padding: 1rem;

  font-family: Arial, Sans-serif;
}
.card-image{
  max-width: 50%;
  height: auto;
  margin-bottom: 1rem;
}